name: TagBot

on:
  issue_comment:
    types: [created]
  workflow_dispatch:

jobs:
  TagBot:
    if: github.event_name == 'workflow_dispatch' || github.actor == 'JuliaTagBot'
    runs-on: ubuntu-latest
    steps:
      - uses: JuliaRegistries/TagBot@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # If you later set up Documenter.jl with SSH deploy key, add:
          # ssh: ${{ secrets.DOCUMENTER_KEY }}

